/* ヘッダー
-------------------------------------------*/
header {
  width: 100%;
  background-color: rgba(var(--navbar-bg-rgb), 1);
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 300;
}

header h1 a img {
  display: block;
  position: absolute;
  transition: all 0.3s 0s ease;
  -webkit-transition: all 0.3s 0s ease;
  -moz-transition: all 0.3s 0s ease;
}

header .inner-header {
  display: flex;
  justify-content: end;
  transition: all 0.3s ease;
  position: relative;
}

/* for PC */
@media screen and (min-width:1180px) {
  /* ヘッダー
-------------------------------------------*/
  header {
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 0px;
    position: fixed;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
  }

  header h1 a img {
    height: 72px;
    top: 16px;
    left: 10px;
    z-index: 500;
  }

  header.fixed {
    height: 80px;
  }

  header.fixed h1 a img {
    height: 60px;
    top: 10px !important;
  }

  header .inner-header {
    margin-top: 16px;
  }
  header.fixed .inner-header {
    margin-top: 10px;
  }

  .toggle_btn,
  .btn_close {
    display: none;
  }

  /* PCグローバルナビ
-------------------------------------------*/
  #g_nav {
    width: 100%;
    display: block;
    height: 56px;
    position: absolute;
    z-index: 1000;
    left: 0 !important;
    bottom: 0px;
    font-size: 0.875em;
    font-weight: 400;
    z-index: 400;
  }

  #g_nav ul.nav_base {
    width: 100%;
    max-width: 1200px;
    margin: 0.25em 0.5em 0.75em auto;
    padding-left: 0;
    display: flex;
    justify-content: flex-end;
  }

  .fixed #g_nav ul.nav_base {
    margin-top: 0;
  }

  #g_nav ul li {
    display: block;
    margin-right: 0.725em;
    margin-left: 0.725em;
  }

  #g_nav li a {
    width: auto;
    padding: 15px 0;
    height: 42px;
    display: block;
    color: var(--navbar-li);
    text-decoration: none;
    text-align: center;
    line-height: 20px;
    position: relative;
  }

  #g_nav > ul > li a::before {
    display: block;
    height: 2px;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    content: '';
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
  }

  #g_nav > ul > li a:hover::before,
  #g_nav > ul > li a.active::before {
    background-color: var(--primary);
  }

  .fixed #g_nav li a::before {
    top: 38px;
  }

  #g_nav > ul > li a:hover,
  #g_nav > ul > li a.active,
  #g_nav > ul > li:hover > a {
    color: var(--navbar-li);
  }

  #g_nav ul li:hover > a.ac_menu {
    position: relative;
  }

  header.fixed #g_nav {
    height: 40px;
  }

  header.fixed #g_nav li a {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 40px;
    font-weight: 500;
  }
  #g_nav ul li.dropdown ul {
    min-width: 180px;
    display: block;
    position: absolute;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    border-radius: 0.5em;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
  }
  #g_nav ul li.dropdown ul li a {
    padding: 10px;
    text-transform: none;
    text-align: left;
  }
  #g_nav ul li.dropdown ul li a::before {
    content: none;
  }
  #g_nav ul li.dropdown ul li a i {
    font-size: 12px;
  }
  #g_nav ul li.dropdown ul li a:hover,
  #g_nav ul li.dropdown ul li .active:hover,
  #g_nav ul li.dropdown ul li:hover > a {
    background-color: var(--bg-secondary);
    border-radius: 0.5em;
  }
  #g_nav ul li.dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  #g_nav ul li.dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  #g_nav ul li.dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  #g_nav ul li.dropdown > a:after {
    font-family: "Font Awesome 6 Free";
    content: "\f0d7";
    font-weight: 900;
    padding-left: 0.25em;
  }
  #g_nav ul li.dropdown .dropdown > a:after {
    content: "\f0da";
  }
}
@media screen and (min-width: 1280px) and (max-width: 1365.98px) {
  #g_nav ul li.dropdown .dropdown ul {
    left: -90%;
  }
  #g_nav ul li.dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/* for SP */
@media screen and (max-width: 1179.98px) {
  body.fixed {
    overflow: hidden;
  }

  /* ヘッダー
-------------------------------------------*/
  header {
    height: 60px;
  }

  header h1 a img {
    top: 4px;
    height: 52px;
    transition: all 0.3s ease;
  }

  header .inner-header {
    margin-top: 14px;
    margin-right: 38px;
  }
  header.fixed .inner-header {
    margin-top: 14px;
  }

  /* トグルボタン
-------------------------------------------*/
  .toggle_btn {
    display: block;
    height: 44px;
    width: 32px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    z-index: 5000;
    top: 8px;
    right: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    cursor: pointer;
  }

  .toggle_btn:hover {
    cursor: pointer;
  }

  .toggle_btn span {
    width: 24px;
    height: 2px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -14px;
    background-color: var(--navbar-li);
  }

  .toggle_btn span {
    transition: all 0.3s;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }

  .toggle_btn span.top {
    transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
  }

  .toggle_btn span.bottom {
    transform: translateY(8px);
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
  }

  .toggle_btn:hover span.top {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
  }

  .toggle_btn:hover span.bottom {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
  }

  .toggle_btn.opened span.middle {
    background: rgba(255, 255, 255, 0);
    transform: translateX(30px);
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
  }

  .toggle_btn.opened span.top {
    transform: rotate(-45deg) translateY(0px);
    -webkit-transform: rotate(-45deg) translateY(0px);
    -moz-transform: rotate(-45deg) translateY(0px);
  }

  .toggle_btn.opened span.bottom {
    transform: rotate(45deg) translateY(0px);
    -webkit-transform: rotate(45deg) translateY(0px);
    -moz-transform: rotate(45deg) translateY(0px);
  }

  /* グローバルナビ
-------------------------------------------*/
  #g_nav {
    position: fixed;
    width: 80%;
    height: 100%;
    top: 0px;
    left: 100%;
    padding-top: 60px;
    overflow: auto;
    z-index: 3000;
    background-color: var(--navbar-bg);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px 0px;
    font-size: 14px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  #g_nav ul {
    display: block;
    margin: 0px;
    padding: 0px;
    clear: both;
    list-style: none;
  }

  #g_nav ul li:first-child {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #EEE;
  }

  #g_nav ul li {
    font-size: 1em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #EEE;
  }

  #g_nav ul li a {
    color: var(--navbar-li);
    text-decoration: none;
    display: block;
    padding-top: 16px;
    padding-right: 30px;
    padding-bottom: 14px;
    padding-left: 20px;
    line-height: 22px;
    vertical-align: middle;
  }

  #g_nav ul li a:hover {
    color: var(--primary);
  }
  
  #g_nav ul li.dropdown ul,
  #g_nav ul li.dropdown .dropdown ul {
    position: static;
    display: block;
    padding: 0;
    margin: 0 20px;
    transition: all 0.5s ease-in-out;
  }
  
  #g_nav ul li.dropdown > a:after {
    font-family: "Font Awesome 6 Free";
    content: "\f0d7";
    font-weight: 900;
    margin-right: -1.5em;
    padding-left: 0.75em;
  }
  
  #g_nav ul li.dropdown ul li:last-child {
    border-bottom: none;
  }

  /* メニューシャドウ
-------------------------------------------*/
  .bg_bl {
    background-color: var(--primary);
    height: 100%;
    width: 100%;
    opacity: 0.80;
    filter: alpha(opacity=80);
    -ms-filter: "alpha( opacity=80 )";
    display: block;
    position: fixed;
    z-index: 2000;
  }
}

@media screen and (max-width: 479.98px) {
  header h1 a img {
    top: 10px;
    height: 42px;
  }
}

/* lang-switcher
-------------------------------------------------- */
.lang-switcher-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: baseline;
  margin-right: 0.75em;
  margin-left: 0.75em;
}

.lang-switcher {
  justify-content: space-between;
  margin: 0 auto;
  padding: .15em;
  width: auto;
  height: auto;
  z-index: 3;
}
.lang-switcher,
.lang-switcher > a {
  display: flex;
  align-items: center;
}
.lang-switcher > a {
  color: var(--default);
  font-size: 1em;
  justify-content: center;
  line-height: 1.25;
  transition: all 0.3s ease;
  text-decoration: none;
}
.lang-switcher > a span {
  padding: 0;
}
.lang-switcher > a:hover {
  color: var(--primary);
  font-weight: 500;
}
.lang-switcher > a.current {
  color: var(--default);
  font-weight: 500;
}
.lang-switcher > a:first-child {
  padding-right: 0.35em;
}
.lang-switcher > a:last-child {
  padding-left: 0.25em;
}

@media screen and (max-width: 479.98px) {
  .lang-switcher-wrapper {
    margin-right: 0.5em;
    margin-left: 0.5em;
  }
  .lang-switcher > a {
    font-size: 0.875em;
  }
}

/* form block
-------------------------------------------------- */
.search-box {
  position: absolute;
  top: 50%;
  right: 84px;
  transform: translate(0, -50%);
  background: var(--bg-gray);
  border: 1px solid #999999;
  height: 36px;
  border-radius: 36px;
  padding: 0;
  box-sizing: border-box;
  z-index: 5;
}

button.search-btn {
  border: none;
}

.search-btn {
  float: right;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: var(--bg-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: .3s;
  position: absolute;
  top: 3px;
  right: 3px;
}

.search-btn i {
  background: none;
  color: var(--primary);
}

.search-box > .search-btn:hover {
  background: var(--primary);
}

.search-box > .search-btn:hover i {
  color: #ffffff;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 1px 1px 1px 10px;
  color: var(--default);
  font-size: 14px;
  transition: .4s;
  line-height: 30px;
  width: 30px;
}

.search-box:hover > .search-txt,
.search-box:focus > .search-txt,
.search-box:active > .search-txt {
  width: 180px;
}

@media screen and (min-width: 768px) {
  .search-txt {
    width: 200px;
  }
  .search-box:hover > .search-txt,
  .search-box:focus > .search-txt,
  .search-box:active > .search-txt {
    width: 200px;
  }
}

@media screen and (max-width: 767.98px) {
  .search-box {
    padding: 2px;
  }
}

@media screen and (max-width: 479.98px) {
  .search-box {
    right: 72px;
  }
}