/* ヘッダー
-------------------------------------------*/
header {
  width: 100%;
  background-color: rgba(var(--navbar-bg-rgb), 0);
  position: fixed;
  z-index: 300;
  border-bottom: 1px solid #ffffff;
}

.page header {
  background-color: rgba(var(--navbar-bg-rgb), 0.25);
}

header.fixed {
  background-color: rgba(var(--navbar-bg-rgb), 0.75);
}

header h1 {
  z-index: 9999;
}
header h1 a img {
  display: block;
  position: absolute;
  transition: all 0.3s 0s ease;
  -webkit-transition: all 0.3s 0s ease;
  -moz-transition: all 0.3s 0s ease;
}

@media screen and (min-width:768px) {
 /* ヘッダー
-------------------------------------------*/
  header {
    height: 90px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 0px;
    position: fixed;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
  }

  header h1 a img {
    height: 36px;
    top: 30px;
    left: 10px;
  }

  header.fixed {
    height: 80px;
  }

  header.fixed h1 a img {
    height: 32px;
    top: 24px !important;
  }

  .toggle_btn,
  .btn_close {
    display: none;
  }

  /* PCグローバルナビ
-------------------------------------------*/
  #g_nav {
    width: 100%;
    display: block;
    height: 50px;
    position: absolute;
    z-index: 1000;
    left: 0 !important;
    top: 20px;
    font-size: 0.75em;
    font-family: var(--heading-font);
    letter-spacing: 0.05em;
  }

  #g_nav ul.nav_base {
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    display: flex;
    justify-content: flex-end;
  }

  #g_nav ul li {
    display: block;
  }

  #g_nav li a {
    width: auto;
    padding: 15px;
    height: 50px;
    display: block;
    color: var(--navbar-li);
    text-decoration: none;
    text-align: center;
    line-height: 18px;
    position: relative;
    text-shadow: 1px 1px 3px rgb(var(--primary-rgb), 0.75);
  }

  #g_nav li a::before {
    display: block;
    height: 2px;
    position: absolute;
    top: 48px;
    left: 6%;
    width: 88%;
    background-color: --var(primary);
    content: '';
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
  }

  #g_nav li a:hover::before,
  #g_nav li a.active::before {
    background-color: var(--accent-color);
    top: 48px;
  }

  .fixed #g_nav li a::before {
    top: 38px;
  }

  #g_nav li a:hover,
  #g_nav li a.active,
  #g_nav ul li:hover > a {
    color: var(--navbar-li);
  }

  #g_nav ul li:hover > a.ac_menu {
    position: relative;
  }

  header.fixed #g_nav {
    height: 40px;
  }

  header.fixed #g_nav li a {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 40px;
  }
}

@media screen and (min-width: 1320px) {
  header h1 a img {
    left: 50%;
    margin-left: -650px;    
  }
}

@media screen and (max-width: 767.98px) {
  body.fixed {
    overflow: hidden;
  }
  #g_nav li a {
    font-size: 1.125em;
  }

  /* ヘッダー
-------------------------------------------*/
  header {
    height: 60px;
  }

  header h1 a img {
    top: 16px;
    left: 10px;
    height: 36px;
  }

  /* トグルボタン
-------------------------------------------*/
  .toggle_btn {
    display: block;
    height: 44px;
    width: 32px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    z-index: 5000;
    top: 8px;
    right: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    cursor: pointer;
  }

  .toggle_btn:hover {
    cursor: pointer;
  }

  .toggle_btn span {
    width: 28px;
    height: 2px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -14px;
    background-color: var(--navbar-li);
  }

  .toggle_btn span {
    transition: all 0.3s;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }

  .toggle_btn span.top {
    transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
  }

  .toggle_btn span.bottom {
    transform: translateY(8px);
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
  }

  .toggle_btn:hover span.top {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
  }

  .toggle_btn:hover span.bottom {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
  }

  .toggle_btn.opened span.middle {
    background: rgba(255, 255, 255, 0);
    transform: translateX(30px);
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
  }

  .toggle_btn.opened span.top {
    transform: rotate(-45deg) translateY(0px);
    -webkit-transform: rotate(-45deg) translateY(0px);
    -moz-transform: rotate(-45deg) translateY(0px);
  }

  .toggle_btn.opened span.bottom {
    transform: rotate(45deg) translateY(0px);
    -webkit-transform: rotate(45deg) translateY(0px);
    -moz-transform: rotate(45deg) translateY(0px);
  }

  /* グローバルナビ
-------------------------------------------*/
  #g_nav {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 100%;
    padding-top: 60px;
    overflow: auto;
    z-index: 3000;
    background-color: var(--navbar-bg);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px 0px;
    font-family: var(--heading-font);
    font-size: 14px;
    letter-spacing: 0.05rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  #g_nav ul {
    display: block;
    margin: 0px;
    padding: 0px;
    clear: both;
  }

  #g_nav ul li:first-child {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #EEE;
  }

  #g_nav ul li {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #EEE;
  }

  #g_nav ul li a {
    color: var(--navbar-li);
    text-decoration: none;
    display: block;
    padding-top: 16px;
    padding-right: 30px;
    padding-bottom: 14px;
    padding-left: 20px;
    line-height: 22px;
    vertical-align: middle;
  }

  #g_nav ul li a:hover {
    color: var(--primary);
  }

  /* メニューシャドウ
-------------------------------------------*/
  .bg_bl {
    background-color: var(--bg-default);
    height: 100%;
    width: 100%;
    opacity: 0.80;
    filter: alpha(opacity=80);
    -ms-filter: "alpha( opacity=80 )";
    display: block;
    position: fixed;
    z-index: 2000;
  }
}

@media screen and (max-width: 479.98px) {
  header h1 a img {
    height: 32px;
  }
}

@media screen and (max-width: 359.98px) {
  header h1 a img {
    top: 18px;
    height: 28px;
  }
}