

/*--------------------------------------------------------------
ヘッダー
-------------------------------------------*/
header {
  width: 100%;
  background-color: rgba(var(--navbar-bg-rgb), 1);
  position: fixed;
}
header .header-logo img {
  display: block;
  transition: all 0.3s 0s ease;
  -webkit-transition: all 0.3s 0s ease;
  -moz-transition: all 0.3s 0s ease;
}
#navbar .navbar {
  display: grid;
}
header .btn {
  font-size: 0.875em;
  padding: 0.3em 0.725em;
}

/* Desktop Navigation
-------------------------------------------*/
@media (min-width: 1180px) {
  header {
    height: 100px;
    border-bottom: 1px solid #eee;
  }
  header .header-logo img {
    height: 72px;
    top: 16px;
    left: 10px;
  }
  .navbar {
    max-width: 780px;
    justify-content: flex-end;
  }
  .inner-head {
    order: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.75em;
  }
  .inner-navbar {
    order: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.75em;
  }
  .inner-navbar a {
    text-decoration: none;
  }
  .inner-navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  .inner-navbar li {
    position: relative;
  }
  .inner-navbar > ul > li {
    white-space: nowrap;
    padding: 8px 0 8px 16px;
  }
  .inner-navbar li a,
  .inner-navbar li a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--default);
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
  }
  .inner-navbar > ul > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: var(--primary);
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  } 
  .inner-navbar li:hover > a:before,
  .inner-navbar .active:before {
    visibility: visible;
    width: 100%;
  }
  .inner-navbar .dropdown ul {
    min-width: 180px;
    display: block;
    position: absolute;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    border-radius: 0.5em;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    z-index: 99;
    transition: 0.3s;
  }
  .inner-navbar .exsight-auth.dropdown ul {
    right: 0;
  }
  .inner-navbar .dropdown ul li {
    margin-right: 0.725em;
    margin-left: 0.725em;
  }
  .inner-navbar .dropdown ul li a {
    padding: 10px;
    text-transform: none;
    text-align: left;
  }
  .inner-navbar .dropdown ul li a::before {
    content: none;
  }
  .inner-navbar .dropdown ul li a i {
    font-size: 12px;
  }
  .inner-navbar .dropdown ul li a:hover,
  .inner-navbar .dropdown ul li .active:hover,
  .inner-navbar .dropdown ul li:hover > a {
    background-color: var(--bg-secondary);
    border-radius: 0.5em;
  }
  .inner-navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  .inner-navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  .inner-navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  .inner-navbar .dropdown > a:after {
    font-family: "Font Awesome 6 Free";
    content: "\f0d7";
    font-weight: 900;
    padding-left: 0.25em;
  }
  .inner-navbar .dropdown .dropdown > a:after {
    content: "\f0da";
  }
}

@media screen and (min-width: 1180px) and (max-width: 1265.98px) {
  .inner-navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .inner-navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

@media screen and (min-width: 1180px) {
  .mobile-nav-show,
  .mobile-nav-hide {
    display: none;
  }
}

/*  Mobile Navigation
-------------------------------------------*/
@media screen and (max-width: 1179.98px) {
  header .header-logo img {
    height: 52px;
    margin-top: 10px;
    margin-bottom: 8px;
  }
  .navbar {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    width: 100%;
    transition: 0.7s;
    z-index: 9997;
  }
  .inner-navbar ul {
    position: absolute;
    inset: 0;
    transition: 0.3s;
    z-index: 9998;
    padding: 50px 10px 10px 10px;
    margin: 0;
    background-color: var(--bg-secondary);
    overflow-y: auto;
    list-style: none;
  }
  .inner-navbar a,
  .inner-navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-bottom: 1px solid var(--primary);
    font-size: 16px;
    color: var(--default);
    white-space: nowrap;
    transition: 0.3s;
  }
  .inner-navbar a i,
  .inner-navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  .inner-navbar a:hover,
  .inner-navbar li:hover > a {
    color: var(--primary);
  }
  .inner-navbar .active,
  .inner-navbar .active:focus {
    color: var(--default);
    font-weight: 600;
  }
  .inner-navbar .dropdown ul,
  .inner-navbar .dropdown .dropdown ul {
    position: static;
    display: none;
    padding: 0;
    margin: 10px 20px;
    transition: all 0.5s ease-in-out;
  }
  .inner-navbar .dropdown > .dropdown-active,
  .inner-navbar .dropdown .dropdown > .dropdown-active {
    display: block;
  }
  .inner-head {
    position: absolute;
    inset: 0;
    top: 420px;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    z-index: 9999;
  }
  .mobile-nav-show {
    color: var(--primary);
    font-size: 32px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    z-index: 9999;
    margin: 0 0 0 20px;
  }
  .mobile-nav-hide {
    color: var(--primary);
    font-size: 36px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    top: 16px;
    right: 24px;
    z-index: 9999;
  }
  .mobile-nav-active {
    overflow: hidden;
  }
  .mobile-nav-active .navbar {
    right: 0;
  }
  .mobile-nav-active .navbar:before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9996;
  }
}

@media screen and (max-width: 575px) {
  .mobile-nav-hide {
    top: 10px;
    right: 8px;
  }
}

@media screen and (max-width: 479.98px) {
  header .header-logo img {
    height: 42px;
    margin-top: 10px;
    margin-bottom: 8px;
  }
}

/* lang-switcher
-------------------------------------------*/
.language-switcher {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}
.language-switcher-item {
  position: relative;
}
.language-switcher-item a {
  color: var(--default);
  text-decoration: none;
}
.language-switcher-item a:hover,
.language-switcher-item a:focus,
.language-switcher-item a:active {
  color: var(--secondary);
}
.language-switcher-item + .language-switcher-item:before {
  content: "/";
  font-weight: 400 !important;
  margin-right: 0.25em;
  margin-left: 0.25em;
}
.language-switcher-item--current {
  font-weight: 500;
  color: var(--primary);
}

/* search-box
-------------------------------------------*/
.search-box {
  position: relative;
  background: var(--bg-gray);
  border: 1px solid #999999;
  height: 36px;
  border-radius: 36px;
  box-sizing: border-box;
  z-index: 5;
}
button.search-btn {
  border: none;
}
.search-btn {
  float: right;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: var(--bg-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: .3s;
  position: absolute;
  top: 3px;
  right: 3px;
  z-index: 6;
}
.search-btn i {
  background: none;
  color: var(--primary);
}
.search-box > .search-btn:hover {
  background: var(--primary);
}
.search-box > .search-btn:hover i {
  color: #ffffff;
}
.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 1px 1px 1px 10px;
  color: var(--default);
  font-size: 14px;
  transition: .4s;
  line-height: 30px;
  width: 200px;
  z-index: 7;
}
