html, :root {
  --color-navigation-background: #c7e0f2;
  --color-navigation-background-selected: #fffccb;
  --color-navigation-text: #2377bd;
  --color-navigation-text-selected: #083377;
  --color-overview-heading-background: #2377bd;
  --color-overview-heading-text: #fff;
  --color-layout-news-background: #e5f5fe;
  --color-layout-news-title: #0f689e;
  --color-layout-news-date: #0f689e;
  --color-layout-host-background: #daecf9;
  --color-layout-host-title: #0c5286;
  --color-layout-co-host-background: #d3e6f3;
  --color-layout-co-host-title: #013d80;
  --color-layout-support-background: #cae0ed;
  --color-layout-support-title: #083377;
  --color-layout-remarks-background: #c4dbe8;
  --color-layout-remarks-title: #00255b;
  --color-header-background: #2477bd;
  --color-header-text: #fff;
  --color-footer-background: #050074;
  --color-footer-text: #fff;
  --color-layout-white-background: #fff;
  --color-layout-gray-background: #f5f5f5;
  --color-text: #222;
  --color-link: #0f689e;
  --color-link-hover: #3e88b5;
  --color-h2: #0f689e;
  --color-h3: #0f547e;
  --color-h4: #0e405e;
  --color-h5: #0b2c40;
  --color-h6: #071924;
  --color-button-primary-background: #2377bd;
  --color-button-primary-background-hover: #2199e8;
  --color-button-primary-text: #fff;
  --color-button-primary-text-hover: #fff;
  --color-button-secondary-background: #2377bd;
  --color-button-secondary-background-hover: #2199e8;
  --color-button-secondary-text: #fff;
  --color-button-secondary-text-hover: #fff;
  --color-table-header-background: #e5f5fe
}
.ccm-page {
  color: var(--color-text)
}
.ccm-page main {
  color: var(--color-text)
}
.ccm-page p {
  color: var(--color-text)
}
.ccm-page a {
  color: var(--color-link)
}
.ccm-page a:hover, .ccm-page a:focus {
  color: var(--color-link-hover)
}
.ccm-page header.home, .ccm-page header {
  background: linear-gradient(90deg, var(--color-header-background) 25%, var(--color-header-background) 75%);
  color: var(--color-header-text)
}
.ccm-page .button {
  background-color: var(--color-button-primary-background);
  color: var(--color-button-primary-text)
}
.ccm-page .button:hover, .ccm-page .button:focus {
  background-color: var(--color-button-primary-background-hover);
  color: var(--color-button-primary-text-hover)
}
.ccm-page .button.primary {
  background-color: var(--color-button-primary-background);
  color: var(--color-button-primary-text)
}
.ccm-page .button.primary:hover, .ccm-page .button.primary:focus {
  background-color: var(--color-button-primary-background-hover);
  color: var(--color-button-primary-text-hover)
}
.ccm-page .button.secondary {
  background-color: var(--color-button-secondary-background);
  color: var(--color-button-secondary-text)
}
.ccm-page .button.secondary:hover, .ccm-page .button.secondary:focus {
  background-color: var(--color-button-secondary-background-hover);
  color: var(--color-button-secondary-text-hover)
}
.ccm-page .button.hollow {
  border: 1px solid var(--color-button-primary-background);
  color: var(--color-button-primary-background);
  background-color: transparent
}
.ccm-page .button.hollow:hover, .ccm-page .button.hollow:focus {
  border-color: var(--color-button-primary-background-hover);
  color: var(--color-button-primary-text);
  background-color: transparent
}
.ccm-page .button.hollow.primary {
  border: 1px solid var(--color-button-primary-background);
  color: var(--color-button-primary-background);
  background-color: transparent
}
.ccm-page .button.hollow.primary:hover, .ccm-page .button.hollow.primary:focus {
  border-color: var(--color-button-primary-background-hover);
  color: var(--color-button-primary-text);
  background-color: transparent
}
.ccm-page .button.hollow.secondary {
  border: 1px solid var(--color-button-secondary-background);
  color: var(--color-button-secondary-background);
  background-color: transparent
}
.ccm-page .button.hollow.secondary:hover, .ccm-page .button.hollow.secondary:focus {
  border: 1px solid var(--color-button-secondary-background-hover);
  color: var(--color-button-secondary-background-hover);
  background-color: transparent
}
.ccm-page .accordion-title {
  color: var(--color-tertiary)
}
.ccm-page .is-accordion-submenu-parent > a::after {
  border-color: var(--color-tertiary) transparent transparent
}
.ccm-page .badge {
  background: var(--color-tertiary)
}
.ccm-page .breadcrumbs a {
  color: var(--color-tertiary)
}
.ccm-page .button-group.primary .button {
  background-color: var(--color-tertiary)
}
.ccm-page .button-group.primary .button:hover, .ccm-page .button-group.primary .button:focus {
  background-color: var(--link-hover)
}
.ccm-page .menu .active > a {
  background: var(--color-tertiary)
}
.ccm-page .is-drilldown-submenu-parent > a::after {
  border-color: transparent transparent transparent var(--color-tertiary)
}
.ccm-page .js-drilldown-back > a::before {
  border-color: transparent var(--color-tertiary) transparent transparent
}
.ccm-page .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  border-color: var(--color-tertiary) transparent transparent
}
.ccm-page .dropdown.menu.vertical > li.opens-left > a::after {
  border-color: transparent var(--color-tertiary) transparent transparent
}
.ccm-page .dropdown.menu.vertical > li.opens-right > a::after {
  border-color: transparent transparent transparent var(--color-tertiary)
}
@media screen and (min-width:40em) {
  .ccm-page .dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a::after {
    border-color: var(--color-tertiary) transparent transparent
  }
  .ccm-page .dropdown.menu.medium-vertical > li.opens-left > a::after {
    border-color: transparent var(--color-tertiary) transparent transparent
  }
  .ccm-page .dropdown.menu.medium-vertical > li.opens-right > a::after {
    border-color: transparent transparent transparent var(--color-tertiary)
  }
}
@media screen and (min-width:64em) {
  .ccm-page .dropdown.menu.large-horizontal > li.is-dropdown-submenu-parent > a::after {
    border-color: var(--color-tertiary) transparent transparent
  }
  .ccm-page .dropdown.menu.large-vertical > li.opens-left > a::after {
    border-color: transparent var(--color-tertiary) transparent transparent
  }
  .ccm-page .dropdown.menu.large-vertical > li.opens-right > a::after {
    border-color: transparent transparent transparent var(--color-tertiary)
  }
}
.ccm-page .is-dropdown-submenu .is-dropdown-submenu-parent.opens-left > a::after {
  border-color: transparent var(--color-tertiary) transparent transparent
}
.ccm-page .is-dropdown-submenu .is-dropdown-submenu-parent.opens-right > a::after {
  border-color: transparent transparent transparent var(--color-tertiary)
}
.ccm-page .label {
  background: var(--color-tertiary)
}
.ccm-page .pagination .current {
  background: var(--color-tertiary)
}
.ccm-page .progress-meter {
  background-color: var(--color-tertiary)
}
.ccm-page .slider-handle {
  background-color: var(--color-tertiary)
}
.ccm-page .slider-handle:hover {
  background-color: var(--link-hover)
}
.ccm-page .tabs.primary {
  background: var(--color-tertiary)
}
.ccm-page .tabs.primary > li > a:hover, .ccm-page .tabs.primary > li > a:focus {
  background: #a9816f
}
.ccm-page .thumbnail:hover, .ccm-page .thumbnail:focus {
  box-shadow: 0 0 6px 1px rgba(62, 3, 7, 0.5)
}
.ccm-page .top-bar, .ccm-page .top-bar ul {
  background-color: #f7f9fb
}
.ccm-page div.off-canvas-wrapper {
  background-color: var(--color-navigation-background);
  color: var(--color-navigation-text)
}
.ccm-page div.off-canvas-content a {
  color: var(--color-link)
}
.ccm-page div.off-canvas-content a:hover, .ccm-page div.off-canvas-content a:focus {
  color: var(--color-link-hover)
}
.ccm-page .c5h-page-info-wrap {
  background-color: var(--color-header-background);
  color: var(--color-header-text)
}
.ccm-page .c5h-page-info-wrap h1 {
  color: var(--color-header-text)
}
.ccm-page .c5h-page-info-wrap h2 {
  color: var(--color-header-text)
}
.ccm-page h2 {
  color: var(--color-h2)
}
.ccm-page h3 {
  color: var(--color-h3)
}
.ccm-page h4 {
  color: var(--color-h4)
}
.ccm-page h5 {
  color: var(--color-h5)
}
.ccm-page h6 {
  color: var(--color-h6)
}
.ccm-page dl.news dt {
  color: var(--color-layout-news-date)
}
.ccm-page div.left-side-menu ul.menu > li > a {
  color: var(--color-navigation-text)
}
.ccm-page div.left-side-menu ul.menu > li > a::before {
  background-color: var(--color-navigation-text)
}
.ccm-page div.left-side-menu > li > a.nav-selected.nav-path-selected, .ccm-page div.left-side-menu ul.menu li.nav-selected.nav-path-selected, .ccm-page div.left-side-menu ul.menu > li > a.nav-path-selected {
  background-color: var(--color-navigation-background-selected);
  color: var(--color-navigation-text-selected)
}
.ccm-page div.left-side-menu > li > a.nav-selected.nav-path-selected::before, .ccm-page div.left-side-menu ul.menu li.nav-selected.nav-path-selected::before, .ccm-page div.left-side-menu ul.menu > li > a.nav-path-selected::before {
  background-color: var(--color-navigation-text-selected);
  color: var(--color-navigation-text-selected)
}
.ccm-page div.left-side-menu > li > a:hover, .ccm-page div.left-side-menu ul.menu li a:hover {
  background-color: var(--color-navigation-background-selected);
  color: var(--color-navigation-text-selected)
}
.ccm-page div.left-side-menu > li > a:hover::before, .ccm-page div.left-side-menu ul.menu li a:hover::before {
  background-color: var(--color-navigation-text-selected)
}
.ccm-page table tbody th {
  background-color: var(--color-table-header-background)
}
.ccm-page .title-bar {
  background: var(--color-navigation-background);
  color: var(--color-navigation-text)
}
.ccm-page .menu-icon::after {
  background: var(--color-navigation-text);
  box-shadow: 0 7px 0 var(--color-navigation-text), 0 14px 0 var(--color-navigation-text)
}
.ccm-page .menu-icon:hover::after {
  background: var(--color-navigation-text);
  box-shadow: 0 7px 0 var(--color-navigation-text), 0 14px 0 var(--color-navigation-text)
}
.ccm-page .box-info {
  border: 1px solid var(--color-blue-3)
}
.ccm-page dl.overview dt {
  background-color: var(--color-overview-heading-background);
  color: var(--color-overview-heading-text)
}
.ccm-page .layout-white, .ccm-page .layout-white-top, .ccm-page .layout-white-bottom {
  background-color: var(--color-layout-white-background)
}
.ccm-page .layout-gray, .ccm-page .layout-gray-top, .ccm-page .layout-gray-bottom {
  background-color: var(--color-layout-gray-background)
}
.ccm-page .layout-news {
  background-color: var(--color-layout-news-background)
}
.ccm-page .layout-news h2, .ccm-page .layout-news h3 {
  color: var(--color-layout-news-title)
}
.ccm-page .layout-host {
  background-color: var(--color-layout-host-background)
}
.ccm-page .layout-host h2, .ccm-page .layout-host h3 {
  color: var(--color-layout-host-title)
}
.ccm-page .layout-co-host {
  background-color: var(--color-layout-co-host-background)
}
.ccm-page .layout-co-host h2, .ccm-page .layout-co-host h3 {
  color: var(--color-layout-co-host-title)
}
.ccm-page .layout-support {
  background-color: var(--color-layout-support-background)
}
.ccm-page .layout-support h2, .ccm-page .layout-support h3 {
  color: var(--color-layout-support-title)
}
.ccm-page .layout-remarks {
  background-color: var(--color-layout-remarks-background)
}
.ccm-page .layout-remarks h2, .ccm-page .layout-remarks h3 {
  color: var(--color-layout-remarks-title)
}
.ccm-page #footer-bottom {
  background-color: var(--color-footer-background);
  color: var(--color-footer-text)
}