.ccm-page h1, .ccm-page h2, .ccm-page h3, .ccm-page h4, .ccm-page h5, .ccm-page h6 {
  font-family: "Inter", "BIZ UDGothic", sans-serif
}
.ccm-page .c5h-page-info-wrap {
  padding-top: 20px;
  padding-bottom: 10px
}
.ccm-page .c5h-page-info-wrap h1 {
  font-size: 24px;
  font-weight: bold
}
.ccm-page .c5h-page-info-wrap h2 {
  font-size: 18px
}
.ccm-page h2 {
  font-weight: bold;
  color: #222
}
.ccm-page h3 {
  font-weight: bold;
  color: #222
}
.ccm-page dl.news {
  font-size: 14px;
  padding: 1em 0em;
  margin: 0;
  border-bottom: 1px dotted #999
}
.ccm-page dl.news dt {
  padding: .35em 0;
  margin: 0;
  color: #222;
  position: relative
}
.ccm-page dl.news dd {
  padding: .35em 0;
  margin: 0
}
.ccm-page dl.news dd *:last-child {
  margin-bottom: 0
}
.ccm-page div.left-side-menu ul.menu > li > a {
  color: #222;
  font-size: 16px;
  text-transform: none;
  padding-left: 1.5em;
  text-indent: -0.75em
}
.ccm-page div.left-side-menu ul.menu > li > a:before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 16px;
  background-color: #222;
  margin-right: 7px;
  position: relative;
  top: 2px
}
.ccm-page div.left-side-menu > li > a.nav-selected.nav-path-selected, .ccm-page div.left-side-menu ul.menu li.nav-selected.nav-path-selected, .ccm-page div.left-side-menu ul.menu > li > a.nav-path-selected {
  color: #222;
  font-size: 16px;
  background-color: #eeeeee;
  text-transform: none
}
.ccm-page div.left-side-menu > li > a:hover, .ccm-page div.left-side-menu ul li a:hover {
  color: #222;
  font-size: 16px;
  background-color: #eeeeee;
  text-transform: none
}
.ccm-page table {
  width: auto
}
.ccm-page table thead, .ccm-page table tbody, .ccm-page table tfoot, .ccm-page table th, .ccm-page table td {
  border: 1px solid #ccc
}
.ccm-page table tbody th {
  background-color: #eeeeee
}
.ccm-page table tbody tr:nth-child(even) {
  background-color: #fff
}
.ccm-page .button.announce {
  background-color: #4f4f4f;
  color: #fff;
  cursor: text
}
.ccm-page a.button.announce {
  cursor: pointer
}
.ccm-page a.button.announce:hover {
  opacity: 0.7
}
.ccm-page .title-bar {
  background: #eeeeee;
  color: #222
}
.ccm-page .menu-icon::after {
  background: #222;
  top: 0;
  left: 0;
  box-shadow: 0 7px 0 #222, 0 14px 0 #222
}
.ccm-page .menu-icon:hover::after {
  background: #8f8f8f;
  box-shadow: 0 7px 0 #8f8f8f, 0 14px 0 #8f8f8f
}
.ccm-page ul.note {
  margin-left: 3em
}
.ccm-page ul.note li {
  list-style: none;
  text-indent: -2.7em
}
.ccm-page ul.note_en {
  margin-left: 5em
}
.ccm-page ul.note_en li {
  list-style: none;
  text-indent: -4.2em
}
.ccm-page .box-info {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #222
}
.ccm-page dl.overview {
  font-size: 20px;
  margin-bottom: 0.75em
}
.ccm-page dl.overview dt {
  line-height: 1em;
  padding: .5em .5em;
  margin-bottom: 0;
  text-align: center
}
.ccm-page dl.overview dd {
  line-height: 1em;
  margin: .25em 0 .75em
}
@media screen and (min-width:64em) {
  .ccm-page dl.overview {
    clear: both
  }
  .ccm-page dl.overview dt {
    width: 10em;
    clear: left;
    float: left;
    margin-right: 2em;
    margin-bottom: 0.75em
  }
  .ccm-page dl.overview dd {
    display: block;
    padding: .5em 0;
    margin: 0 0 .75em
  }
  .ccm-page dl.news dt {
    float: left;
    clear: left;
    width: 10em
  }
  .ccm-page dl.news dd {
    padding-left: 11em
  }
}
@media only screen and (min-width:40.063em) {
  .ccm-page h1 {
    font-size: 37px;
    line-height: 52px
  }
  .ccm-page h2 {
    font-size: 27px;
    line-height: 38px
  }
  .ccm-page h3 {
    font-size: 23px;
    line-height: 32px
  }
  .ccm-page h4 {
    font-size: 18px;
    line-height: 25px
  }
  .ccm-page h5 {
    font-size: 16px;
    line-height: 22px
  }
  .ccm-page h6 {
    font-size: 14px;
    line-height: 18px
  }
}
.ccm-page .red {
  color: #ff0000
}