.ccm-page .layout-white {
  padding: 30px 0
}
.ccm-page .layout-white-top {
  padding-top: 30px
}
.ccm-page .layout-white-bottom {
  padding-bottom: 30px
}
.ccm-page .layout-white-large {
  padding: 50px 0
}
.ccm-page .layout-white-large-top {
  padding-top: 50px
}
.ccm-page .layout-white-large-bottom {
  padding-bottom: 50px
}
.ccm-page .layout-gray {
  padding: 30px 0;
  background-color: #f6f6f6
}
.ccm-page .layout-gray-top {
  padding-top: 30px;
  background-color: #f6f6f6
}
.ccm-page .layout-gray-bottom {
  padding-bottom: 30px;
  background-color: #f6f6f6
}
.ccm-page .layout-gray-large {
  padding: 50px 0;
  background-color: #f6f6f6
}
.ccm-page .layout-gray-large-top {
  padding-top: 50px;
  background-color: #f6f6f6
}
.ccm-page .layout-gray-large-bottom {
  padding-bottom: 50px;
  background-color: #f6f6f6
}
.ccm-page .layout-news {
  background-color: #e9e9e9;
  padding-top: 50px;
  padding-bottom: 50px
}
.ccm-page .layout-host {
  padding: 30px 0;
  background-color: #cee4e8
}
.ccm-page .layout-host h3 {
  color: #0098b4
}
.ccm-page .layout-co-host {
  padding: 30px 0;
  background-color: #d5e8ce
}
.ccm-page .layout-co-host h3 {
  color: #217a00
}
.ccm-page .layout-support {
  padding: 30px 0;
  background-color: gb(255, 248, 231)
}
.ccm-page .layout-support h3 {
  color: #3e0307
}
.ccm-page .layout-remarks {
  padding: 30px 0;
  background-color: gb(255, 248, 231)
}
.ccm-page .layout-remarks h3 {
  color: #3e0307
}
.ccm-page .layout-area-attribute {
  padding: 30px 15px 15px
}
.ccm-page .layout-area-application {
  padding: 30px 15px 15px
}
.ccm-page .layout-area-contact {
  padding: 30px 15px 15px
}
.ccm-page .layout-white *:last-child, .ccm-page .layout-white-top *:last-child, .ccm-page .layout-white-bottom *:last-child, .ccm-page .layout-gray *:last-child, .ccm-page .layout-gray-top *:last-child, .ccm-page .layout-gray-bottom *:last-child, .ccm-page .layout-host *:last-child, .ccm-page .layout-co-host *:last-child, .ccm-page .layout-support *:last-child, .ccm-page .layout-remarks *:last-child {
  margin-bottom: 0
}
.ccm-page .off-canvas-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh
}
.ccm-page .off-canvas-content footer {
  margin-top: auto
}